@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply m-0 p-0;
		scroll-behavior: smooth;
	}

	body {
		@apply bg-background text-foreground cursor-default font-roboto overflow-x-hidden;
	}

	::-webkit-scrollbar {
		@apply w-2 h-2;
	}

	::-webkit-scrollbar-track {
		@apply bg-secondary;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-theme rounded-md;
	}

	.theme {
		--animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
		--animate-marquee: marquee var(--duration) infinite linear;
		--animate-marquee-vertical: marquee-vertical var(--duration) linear
			infinite;
		--animate-gradient: gradient 8s linear infinite;
	}

	.input-type-slider::-webkit-slider-thumb {
		@apply bg-primary rounded-full w-4 h-4 appearance-none cursor-pointer;
	}

	/* Define keyframes globally */
	@keyframes orbit {
		0% {
			transform: rotate(calc(var(--angle) * 1deg))
				translateY(calc(var(--radius) * 1px))
				rotate(calc(var(--angle) * -1deg));
		}
		100% {
			transform: rotate(calc(var(--angle) * 1deg + 360deg))
				translateY(calc(var(--radius) * 1px))
				rotate(calc((var(--angle) * -1deg) - 360deg));
		}
	}

	@keyframes marquee {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}

	@keyframes marquee-vertical {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(calc(-100% - var(--gap)));
		}
	}

	@keyframes move-horizontal {
		0% {
			transform: translateX(0);
		}
		50% {
			transform: translateX(5px); /* Move right */
		}
		100% {
			transform: translateX(0); /* Return to start */
		}
	}
}

.moving-horizontal {
	--duration: 2s;
	animation: move-horizontal var(--duration) infinite ease-in-out;
}
